@charset "UTF-8";

:root {
  --content-ratio: 0.7
}

html[data-theme=dark] {
  --bg-color: #22272e;
  --body-color: #adbac7;
  --pre-bg-color: rgba(99,110,123,0.4);
}

body {
  font-family: Roboto,sans-serif;
}

.sidebar .logo-title .title h3 {
  text-transform: none;
  letter-spacing: normal;
}

.post .post-title h1 {
  text-transform: none;
}

.post .post-title h3 {
  text-transform: none;
}

p > code {
  background-color: var(--pre-bg-color);
  padding: 3px 6px;
  border-radius: 3px;
}

a {
  word-wrap: break-word;
}
